---
title: F! - Det händer nu
---

#hero
  .container
    .row.header
      .small-12.columns
        %a{href: "http://feministisktinitiativ.se/", target: '_BLANK'}
          = image_tag 'fi.png', class: 'logo'
        .share.right
          %a.small.button{href: "https://twitter.com/intent/tweet?url=http%3A%2F%2Fxn--dethnder-3za.nu&text=%23deth%C3%A4ndernu", :target => '_BLANK'}
            %i.fa.fa-twitter.fa-2x
            %span.count.odometer{'data-twitter-count' => 'http://xn--dethnder-3za.nu/'}
          %a.small.button{href: "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fxn--dethnder-3za.nu", :target => '_BLANK'}
            %i.fa.fa-facebook.fa-2x
            %span.count.odometer{'data-facebook-count' => 'http://xn--dethnder-3za.nu/'}
    .row
      .small-5.columns
        %h1 Boksläpp 20/4 på Moriskan
        %h2.subheader
          Det händer nu. Med över 90 medverkande, varav flera på plats för att läsa upp sina texter, blir detta ett boksläpp utöver det vanliga.  Eventet är gratis och vi tänker oss en eftermiddag av feministisk pepp och inspiration. Eventet håller på från klockan <i>15-18</i>, och klockan 22 öppnar vi dörrarna igen för årets största feministiska klubbkväll.
        %a.large.button{href: "https://www.facebook.com/events/707652659280257", target: '_BLANK'} Info om boksläppet
      .small-7.columns
        = image_tag 'book.png', class: 'book wow fadeInDown', 'data-wow-duration' => "2s", 'data-wow-delay' => "1s", style: 'display:none;'

%section#party
  .cover.bg
  .cover.dj.juck{'data-src' => image_path('party-bg-juck.jpg')}
  .cover.dj.katla{'data-src' => image_path('party-bg-katla.jpg')}
  .cover.dj.max{'data-src' => image_path('party-bg-max.jpg')}
  .cover.dj.systerkollektivet{'data-src' => image_path('party-bg-systerkollektivet.jpg')}
  .cover.dj.tommiex{'data-src' => image_path('party-bg-tommiex.jpg')}
  .cover.dj.unnitz{'data-src' => image_path('party-bg-unnitz.jpg')}
  .cover.gradient
  .container
    %ul.djs.side-nav
      %li.wow.fadeInRightBig{'data-wow-delay' => "0.0s"}
        %a{href: 'https://www.facebook.com/JUCKJUCKJUCK?fref=ts', target: '_BLANK', 'data-dj' => 'juck'} JUCK
      %li.wow.fadeInRightBig{'data-wow-delay' => "0.15s"}
        %a{href: 'https://www.google.com/search?q=katla&es_sm=119&source=lnms&tbm=isch&sa=X&ei=_8xJU_7gNcGN4ATW1oHABg&ved=0CAkQ_AUoAg&biw=1680&bih=885', target: '_BLANK', 'data-dj' => 'katla'} Katla
      %li.wow.fadeInRightBig{'data-wow-delay' => "0.30s"}
        %a{href: 'https://soundcloud.com/maxlye', target: '_BLANK', 'data-dj' => 'max'} Max Lye
      %li.wow.fadeInRightBig{'data-wow-delay' => "0.45s"}
        %a{href: 'https://www.facebook.com/Systerkollektivet', target: '_BLANK', 'data-dj' => 'systerkollektivet'} Systerkollektivet
      %li.wow.fadeInRightBig{'data-wow-delay' => "0.60s"}
        %a{href: 'http://bon.se/blogs/tommie-x/', target: '_BLANK', 'data-dj' => 'tommiex'} Tommie X
      %li.wow.fadeInRightBig{'data-wow-delay' => "0.75s"}
        %a{href: 'https://www.facebook.com/tjejrejv', target: '_BLANK', 'data-dj' => 'unnitz'} Unnitz

    .row
      .medium-7.columns
        %h2
          %small Releasefesten
          Releasefest på Moriskan
        %p
          Årets största feministiska antologi har släppts med över 90 medverkande feminister och det ska firas hela natten! Därför öppnar vi dörrarna redan klockan 22 och startar på scen klockan 22:30, se till att vara där i tid för när det kommer till queerbeats, feministisk pepp, liveartister och årets bästa lineup av DJ’s så finns det ingen tid att förlora.
          %br
          %br
          Foto: Olle Enqvist
        %a.large.button{href: "https://www.facebook.com/events/1443457495895928", target: '_BLANK'} Info om festen


%section#info
  .container
    .row
      .medium-8.medium-push-2.columns
        %h2.text-center
          %small Bakgrund
          Varför Det Händer Nu?
        %p
          Feministiskt Initiativ har inget partistöd och är ännu beroende av gåvor och ideellt arbete. Därför satt i januari fyra medlemmar i F! Malmö vid ett köksbord och funderade på ett roligt projekt att ta sig an för att samla in pengar till valfonden. Det gick upp för oss hur många otroligt begåvade feministiska serietecknare och illustratörer det finns och vi tänkte att det vore kul att göra en sammanställning bilder som sedan kan säljas till förmån för F!. Efter att SVT sänt <a href="http://www.svt.se/fittstim--min-kamp/" target="_BLANK">Belinda Olssons Fittstim</a> kändes det än mer aktuellt, och projektet utökades till en ny, modern feministisk antologi med både text och bild. Vi vill med samlingen sprida kunskap om feminism idag, det är en bok som ska vara ett stöd för den som kanske är ung, ensam feminist i en oförstående omgivning, en samling av ord- och bildtrollarfavoriter för den inlästa och en inspiration för den intresserade men ännu inte helt övertygade.
        %p
          Vi är helt överväldigade av gensvaret, nästan alla tillfrågade har ställt sig extremt positiva till vår fråga om att ideellt bidra med sitt arbete. "Vilken ära att arbeta med F!, självklart!" har vi fått höra många gånger. I vilka andra partier händer detta? Gruppen medverkande har nu växt till starka #{data.people.contributors.count} personer och vi som redaktörer hade inte kunnat vara mer nöjda över urvalet.
        .row.people-row
          - data.people.crew.each do |p|
            .medium-3.columns.text-center
              %a.pop
                .photo.smallest{'data-src' => image_path(p.image), 'data-name' => p.name}
                %p= p.name

%section#people
  .container
    .row
      .small-12.columns
        %h2.text-center
          %small Medverkande
          Vi är med i boken
    - list = data.people.contributors.sort_by { |p| p.name }.in_groups_of(4).each do |row|
      .row.people-row
        - row.each do |p|
          .medium-3.columns.text-center
            %a.pop
              - if p
                - path = image_path(p.image);
                .photo{'data-src' => path, 'data-name' => p.name}
                %h5= p.name
              - else
                &nbsp;

%footer
  .container
    .row
      .medium-12.columns.text-center
        Hör gärna av dig med åsikter och feedback till <a href="mailto:info@dethänder.nu">info@dethänder.nu</a>


%section.slideshow.show-for-medium-up
  %ul
    - (data.people.crew + data.people.contributors.sort_by { |p| p.name }).each do |p|
      %li
        %figure
          .profile.photo.large{'data-src' => image_path(p.image)}
          %figcaption.text-center
            %h3
              = p['name']
              %span.links
                - if twitter = p.twitter
                  %a.fa.fa-twitter{href: "http://twitter.com/#{twitter}", target: '_BLANK'}
                - if link = p.link
                  %a.fa.fa-link{href: link, target: '_BLANK'}
          %p.text-center
            = p.description
  %a.close
    = image_tag 'cross.png'
  %nav.hide-for-touch
    %span.nav-prev.fa.fa-chevron-left
    %span.nav-next.fa.fa-chevron-right
    %span.icon.nav-close
  .info-keys.icon.fa.hide-for-touch Navigera med pil-tangenterna
